---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<article class="post card" itemscope itemtype="http://schema.org/BlogPosting">
<div class="card-content">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% include breadcrumbs.html %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{ author.web }}">{{ author.name }}</a></span></span>{% endif %}</p>
  </header>

  <p>&nbsp;</p>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p>&nbsp;</p>

  {% assign last_week_posts = site.categories['Last-Week'] | sort: 'date' %}
  {% for post in last_week_posts %}
    {% if post.url == page.url %}
      {% assign current_index = forloop.index0 %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% assign prev_index = current_index | minus: 1 %}
  {% assign next_index = current_index | plus: 1 %}
  {% if prev_index >= 0 %}
    {% assign prev_post = last_week_posts[prev_index] %}
  {% endif %}
  {% if next_index < last_week_posts.size %}
    {% assign next_post = last_week_posts[next_index] %}
  {% endif %}

  {% if prev_post or next_post %}
  <p>
    {% if prev_post %}<a href="{{ prev_post.url }}">&larr; Previous week</a>{% endif %}
    {% if prev_post and next_post %} | {% endif %}
    {% if next_post %}<a href="{{ next_post.url }}">Next week &rarr;</a>{% endif %}
  </p>
  {% endif %}

  <p>
    Explore other related articles:<br/>
{% for tags in page.tags %}
      <a href="/tag/{{ tags | slugify }}">{{ tags }}</a> /
{% endfor %}
  </p>

  {% if author %}
  <hr/>
  <p>
    Penned by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> on {{ page.date | date: "%Y-%m-%d" }}<br/>
    {{ author.tag }}
  </p>
{% endif %}

</div>
</article>
